#### TEST

#### 1. Find the 2nd largest and 2nd smallest element in a list.

In [4]:
numbers =[11,34,65,78,99,1000,55]
second_smallest = numbers [1]
second_largest = numbers [-2]

print("2nd smallest:", second_smallest )
print("2nd largest:", second_largest)

2nd smallest: 34
2nd largest: 1000

#### 2. Find the key with the largest value in a dictionary.

In [2]:
d = {"p":10 , "I":20,"y":30}  
print(max(d,key = d.get))

y

#### 3. Create a new folder using os module and create a file inside it.

In [19]:
import os
os.mkdir("Myfloder")
f = open("myfloder/newfile.txt","w")
f.write("my file is inside myfloder")
f.close()
print("Succesfully create the folder and file")

Succesfully create the folder and file

#### 4. Write a recursive function to calculate Fibonacci series up to n terms.

In [15]:
n_terms = int(input("Enter number of terms: "))

a, b = 0, 1
print("Fibonacci Series:")

for i in range(n_terms):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms:  3

Fibonacci Series:
0 1 1

#### 5. Use a lambda with map() to convert a list of integers into their cubes.

In [17]:
number = [ 1,2,34,55]
list(map(lambda x: x**3,number))

[1, 8, 39304, 166375]

#### 6. Create a class Employee that increases salary by 10%.

#### 7. Write a program to print the date 30 days from today.

In [22]:
from datetime import date, timedelta

today = date.today()
new_date = today + timedelta(days=30)

print("Today:", today)
print("30 days from today:", new_date)

Today: 2025-09-16
30 days from today: 2025-10-16

#### 8. Write a program to convert radians to degrees and vice versa.

#### 9.  Write a regex to validate if a string is a valid Indian mobile number (10 digits).

#### 10. Create a class Bank with encapsulated methods to show account details securely.